.your-class {
  width: 700px;
}

.your-class .box {
  background: lightcoral;
  margin: 10px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.box.img1 {
  background-image: url('images/proj1.jpg');
}
.box.img2 {
  background-image: url('images/proj2.jpg');
}
.box.img3 {
  background-image: url('images/proj3.jpg');
}
.box.img4 {
  background-image: url('images/proj4.jpg');
}
.box.img5 {
  background-image: url('images/proj5.jpg');
}
.box.img6 {
  background-image: url('images/proj6.jpg');
}
.box.img7 {
  background-image: url('images/proj7.jpg');
}
.box.img8 {
  background-image: url('images/proj8.jpg');
}
.box.img9 {
  background-image: url('images/proj9.jpg');
}
